.openai-general-panel__default-state-icon:before,
.openai-general-panel__empty-state-icon:before,
.openai-general-panel__loading-state-icon:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  opacity: .1;
  margin: 40px auto auto;

}

@keyframes loaderAnimation {
  from {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(0.33);
  }
  75% {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(359deg) scale(1);
  }
}

.openai-general-panel__default-state-icon:before {
  background-image: url('../img/openai.svg');
}

.openai-general-panel__empty-state-icon:before {
  background-image: url('../img/openai-no-result.svg');
}

.openai-general-panel__loading-state-icon:before {
  background-image: url('../img/openai.svg');
  animation: loaderAnimation 2s infinite linear;
}


.openai-general-panel__credit_link {
  text-align: center;
  opacity: .5;
}

.openai-source-container {
  margin-bottom: 10px;
}

.openai-source-container .x-box-inner {
  font-size: 10px;
  border-left: 3px solid rgb(38 138 178);
  background-color: rgba(38,138,178,.1);
  padding: 1em;
}

.openai-source-container__quote .x-form-display-field {
  font-style: italic;
}
